.botonesViejos{
    color: rgb(221, 19, 171);

}

#idBoton2022{
    color: blue;
    
}

a[href]{
    color: blue;
    background-color: black;
    opacity: 0.1;
}

#Borde1{
    border-style: dotted;
    visibility: hidden;
}

#Borde2{
    border-style: dashed;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

#Borde3{
    border-style: solid;
    margin: 100px 20px 50px 60px;
}

#Borde4{
    border-style: double;
    margin: 100px 20px;
}

#Borde5{
    border-style: groove;
    margin: 70px;
}

#Borde6{
    border-style: ridge;
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 80px;
    padding-left: 15px;
}

#Borde7{
    border-style: inset;
    padding: 50px 15px 80px 15px;
}

.Borde8{
    border-style: outset;
    height: 500px;
    width: 320px;
}

.Borde9{
    border-style: solid;
    height: 480px;
    width: 840px;
}

#Borde10{
    border-style: hidden;
}

#Borde11{
    border-style: dotted dashed solid none ;
    
}

.viejo{
    color: blue;
    background-color: yellow;
}

.nuevo{
    color: red;
    background-color: chocolate;
}

